<div id="{{componentInfo.Name}}{{preview ? '-preview' : '-component'}}{{componentInfo.ComponentId != null ? componentInfo.ComponentId : ''}}" class="testimonial-wrapper"
     [ngStyle]="{
     'background': data?.BackgroundColor}"
     [ngClass]="{'contrast': data.increaseContrast}">
  <div class="image-overlay centered"
       [ngStyle]="{
        'background-image': 'url(' + (data?.backgroundImg ? (data?.backgroundImg | addDomain: 'cdnBase') : ('assets/images/transparentBackground.png' | addDomain)) + ')',
        'opacity': (data.backgroundImgOpacity * 0.01)
  }">
  </div>
  <div class="contrast-overlay" *ngIf="data.increaseContrast"></div>
  <header class="testimonial-header" *ngIf="data.title || data.subHeader">
    <h1 class="m24 m-b-2" *ngIf="data.title">{{data.title}}</h1>
    <p class="r16" *ngIf="data.subHeader">{{data.subHeader}}</p>
  </header>
  <div class="slideshow-wrapper show-indicators"
       #slideshowContainer
       [style.height]="data.height + 'px'"
       [ngClass]="{'fade-animation': data?.animationType == 'Fade',
                   'slide-animation': data?.animationType == 'Slide'}">
    <iui-carousel #carousel
                  [interval]="0"
                  [noWrap]="false"
                  class="testimonial-carousel-trigger"
                  (activeSlideChange)="slideUpdated($event)"
                  [(activeSlide)]="slideIndex">
      <iui-slide *ngFor="let slide of slides; let i = index;"
                 [active]="slide.active">
        <div class="carousel-caption container grid-container">
          <div class="grid-x grid-margin-x align-center small-up-1 medium-up-{{data?.columns > 1 ? '2' : '1'}} large-up-{{data?.columns}}">
            <div class="cell r16 text-center layout-1"
                 *ngFor="let testimonial of slide.childs"
                 id="testimonialBox{{componentInfo.ComponentId}}-{{componentInfo.LayoutId}}-{{i}}">
              <img [src]="testimonial?.imageSrc ? (testimonial?.imageSrc | addDomain: 'cdnBase') : ('assets/images/profile-icon-google.svg' | addDomain: 'systemBase')"
                   alt="" class="testimonial-img m-b-2 display-block">
              <p class="m-b-3 testimonial-quote display-inline-block word-break" *ngIf="testimonial.quote">{{testimonial.quote}}</p>
              <span *ngIf="testimonial.name">{{testimonial.name}}</span> <span *ngIf="testimonial.company">|</span>
              <a [href]="ensureLinkProtocol(testimonial.companyLink)"
                 class="company-name"
                 target="_blank"
                 *ngIf="testimonial.company && testimonial.companyLink">
                {{testimonial.company}}
              </a>
              <p class="m-b-0 display-inline-block company-name"
                 *ngIf="testimonial.company && !testimonial.companyLink">
                {{testimonial.company}}
              </p>
            </div>
          </div>
        </div>
      </iui-slide>
    </iui-carousel>
  </div>
</div>
